<nav>
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAE8d7jDSei0NDhyJkeIx4m-dlAM-N9eh8n5hJhlxZzg&s"
    alt="img angular"
  />
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Login</a></li>
    <li><a href="#">User</a></li>
    <div class="dropdown">
        <button class="dropbtn">Work-Space</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
  </ul>
</nav>
