<nav>
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAE8d7jDSei0NDhyJkeIx4m-dlAM-N9eh8n5hJhlxZzg&s"
    alt="img angular"
  />
  <ul>
    <div class="dropdown">
      <button class="dropbtn">Work-Space</button>
      <div class="dropdown-content">
        <a routerLink="basic-form">Form</a>
        <a routerLink="reactiveForm">Reactive-Form</a>
        <a routerLink="toogle">Toogle-Element</a>
        <a routerLink="todo">ToDo</a>
        <a routerLink="getData">API Get-data</a>
        <a routerLink="post-data">API Post-data</a>
        <a routerLink="twoWayBinding">Two-Way-Binding</a>
      </div>
    </div>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="about">About</a></li>
    <li><a routerLink="login">Login</a></li>
    <li><a routerLink="userFaisal">User</a></li>
    
  </ul>
</nav>

<router-outlet></router-outlet>
