<header class="header" id="header">
    <div class="head-top"></div>
  
    <div class="head-bottom flex">
      <h2>Success stories</h2>
      <p>
        tech.at.core has been working for us on multiple projects and most likely will do so again in the future because they stand out as a highly reliable, very versatile software engineers with an excellent and wide range of technical expertise and skillset.

        They can easily blend into any team but at the same time is very self-organized and requires little oversight. tech.at.core were proven on multiple occasions, able to pick up new frameworks and technologies very fast and shown exceptional problem-solving skills and enthusiasm to work through issues to find and fix the root cause.
      
    </div>
  </header>