<form class="container" [formGroup]="loginForm" (ngSubmit)="logIn()" >
  <div>
    <h1>User Login</h1>
    <h5>Feel Free To Login</h5>
    <hr />
    <label>Email : </label>
    <input type="email" formControlName="email" placeholder="Enter Email" name="email" required />
    <label>Password : </label>
    <input
    formControlName="password"
      type="password"
      placeholder="Enter Password"
      name="password"
      required
    />
    <button type="submit">Login</button>
  </div>
  <a routerLink="/signup" >New User? click to Signup!</a>
</form>

