<h1 appRedEl>two-way-binding works!</h1>
<label>Name: </label>
<input placeholder="Name" type="text" [(ngModel)]="name" />
<br><br>
<label>Age:  </label>
<input placeholder="Age" type="number" [(ngModel)]="age" />
<br><br>
<label>Address : </label>
<input placeholder="Address" type="text" [(ngModel)]="address" />
<br><br>
<label>Mobile No : </label>
<input placeholder="Mobile No" type="text" [(ngModel)]="mobile" />
<br><br>


<h3>{{name}}</h3>
<h3>{{age}}</h3>
<h3>{{address}}</h3>
<h3>{{mobile}}</h3>
