<div class="about" id="aboutsec">
    <div class="row">
        <div class="column side">
            <h2>Hi, I'm Faisal.</h2>
            <br>
            <p>I like to design and code cool things. Some projects I’ve gotten to work on included: </p><br>
            <ul>
                <li>freeCodeCamp.org coursework for Responsive Web Design: A personal project to refresh and advance my
                    coding knowledge, particularly Angular that was originally learned  as a young
                    teenager.</li><br>
                <li>Task Smart: An app for independent business owners to keep track of invoices and meetings with
                    clients. I assisted with UX research while conducting stakeholder/client interviews and
                    presentations throughout the design lifecycle.</li><br>
                <li>Pies N Fries: A food delivery app for pizza and fries. YUM! I worked with a team to create a brand
                    design, a mood board, user flows for three user types, and a visual mockup of the app in Figma that
                    was then handed off to developers.</li>


                <!-- <div class="column middle">
                    <img src="/assets/IMG20201128234554 faza.jpg">
                </div> -->
            </ul>    
        </div>

        <div class="work" id="worksec">
            <h1>Work</h1>
            <div class="projectrow">
                <div class="projectcolumn">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus
                        venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus
                        eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent
                        scelerisque tortor sed accumsan convallis.</p><br>
                    <div class="projecttitle">
                        <p>Project Title</p>
                    </div>
                </div>

                <div class="projectcolumn">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus
                        venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus
                        eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent
                        scelerisque tortor sed accumsan convallis.</p><br>
                    <div class="projecttitle">
                        <p>Project Title</p>
                    </div>
                </div>

                <div class="projectcolumn">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus
                        venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus
                        eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent
                        scelerisque tortor sed accumsan convallis.</p><br>
                    <div class="projecttitle">
                        <p>Project Title</p>
                    </div>
                </div>
            </div>

            <div class="projectrow">
                <div class="projectcolumn">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus
                        venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus
                        eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent
                        scelerisque tortor sed accumsan convallis.</p><br>
                    <div class="projecttitle">
                        <p>Project Title</p>
                    </div>
                </div>
                <div class="projectcolumn">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus
                        venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus
                        eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent
                        scelerisque tortor sed accumsan convallis.</p><br>
                    <div class="projecttitle">
                        <p>Project Title</p>
                    </div>
                </div>
                <div class="projectcolumn">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus
                        venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus
                        eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent
                        scelerisque tortor sed accumsan convallis.</p><br>
                    <div class="projecttitle">
                        <p>Project Title</p>
                    </div>
                </div>
            </div>
        </div>

      

       