
<form class="container" [formGroup]="signupForms" (ngSubmit)="signup()" >
  <div>
    <h1>User Signup</h1>
    <!-- <h5>Feel Free To Login</h5> -->
    <hr />
    <label>Name : </label>
    <input type="text" formControlName="name" placeholder="Enter Username" name="username" required />
    
    <label>Mobile Number : </label>
    <input type="number" formControlName="mobile" placeholder="Enter Number" name="number" required />
 
    <label>Email Address : </label>
    <input type="email" formControlName="email" placeholder="Email address" name="email" required />

    <label>Password : </label>
    <input
      type="password"
      formControlName="password"
      placeholder="Enter Password"
      name="password"
      required
    />
    <button type="submit">Signup</button>
 
   
  </div>
  <a routerLink="/login" >Already Member? click to Login!</a>
</form>
