<header class="header" id="header">
  

  <div class="head-bottom flex">
    <h2>Over decade experience with poly skills engineering specialists.</h2>
    <h1 appRedEl>Custome Directives</h1>
    <p appRedEl>
      
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum neque
      veritatis possimus odit blanditiis pariatur quisquam maxime? Quae quas
      quisquam minima, deserunt iste, quidem quibusdam labore nulla nobis, omnis
      numquam.
    </p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius aut, dicta ullam iste laborum rem nam molestias, voluptatibus, blanditiis itaque nostrum. Temporibus distinctio optio rerum quaerat eos facere sed pariatur.</p>
  </div>
</header>

